<!DOCTYPE html>
<html>
<head>
	<title>E-Comstagram</title>

	<!-- Font Awesome -->
	
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Reset CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/reset.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/style1.css">
	
	<!-- Custom CSS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
</head>




<body onload="like_list()">


 <!-- HEADER SECTION -->

	<header>
		<div class="logo">
            <a href="/">
			    E-Cosmtagram
            
            </a>
		</div>
		<div class="menu">
			<ul>
				<li>
					<a href="/users"><%= username %></a>
				</li>
				<li>
					<a href="/users/basket">New friends</a>
				</li>

			</ul>
		</div>

		<div class="search-area">
			<ul>
				<li>
					<i class="fa fa-search" aria-hidden="true"></i>
				</li>
				<li>
					<input type="text" name="search-box">
				</li>
				<li>
					<i class="fa fa-times" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
	</header>


	 <!-- BIO/TOP AREA-->

	 <section class="bio-area">
	 	<div class="profile">
	 		<div class="user-img">
	 			<img src="https://randomuser.me/api/portraits/women/69.jpg">
	 		</div>
	 		<div class="user-details">
	 			<h3>Folu Adriel Ayoola</h3>
	 			<a href="update.html">UPDATE INFO</a>
	 			<a href="activity.html">VIEW ACTIVITY</a>
	 		</div>
	 	</div>
	 </section>
        <!-- MAIN BAR -->
	  	<div class="main-bar">
            <div class="widget-topmenu">
	  			<ul>
	  				<li>
	  					<i class="fa fa-clock-o" aria-hidden="true"></i>
	  					<span>FEED</span>
	  				</li>
	  				<li>
	  					<i class="fa fa-id-badge" aria-hidden="true"></i>
	  					<span>ABOUT</span>
	  				</li>
	  				<li>
	  					<i class="fa fa-user-plus" aria-hidden="true"></i>
	  					<a href="/new_connections">
						  <span>FRIENDS</span>
						</a>
	  				</li>
	  				<li>
	  					<i class="fa fa-camera" aria-hidden="true"></i>
	  					<span>PHOTOS</span>
	  				</li>
	  				<li>
	  					<i class="fa fa-ellipsis-v" aria-hidden="true">
	  						
	  					</i>
	  				</li>
	  			</ul>
	  		</div>
            <% posts.forEach(post => { %>
                <div class="widget-post">
                    <div class="head">
                        <!-- <p> <%= post.profile_picture %></p> -->
                        <div >
                            <img src="../public/profile_pics/<%= post.profile_picture %>" class="poster-img" alt="">
                        </div>
                        <div class="post-info">
                            <!-- profile picture and username -->
                            <p><a href="/users/visit/<%= post.username %>"><%= post.username %></a> shared a product</p>
				
                            <form action="/users/follow/<%= post.profile_id %>" method="POST" enctype="multipart/form-data">
                                <button type="submit" style="float: left; margin-right: 10px;   ">
                                    Follow
                                </button>
                            </form>    
                            <p>Description: <%= post.description %></p>
                            <p>Price: <%= post.price %></p>

                            <!-- <span class="post-date">April 27 at 5:30PM • via Instagram</span> -->
                        </div>
                        
                    </div>
                    <div class="body" >
                        <div >
                        <img class="product" src="../public/posts/<%= post.username %>/<%= post.pic_name %>" >
                        <br>
                        </div>
                        <p class="post-info"> <span id="<%= post.id %>"><%= post.likes %>  </span> people liked it </p>	

                        <div class="post-icons">
							<button type="button" style="float: left; margin-right: 10px;" onclick="buy(<%= post.id %>)" > 
								Buy
							</button>
							<button type="button" id='btn-<%= post.id %>' style="float: left; margin-right: 10px;" onclick="like(<%= post.id %>)">
								Like
							</button>
                                <!-- <form action="/users/like/<%= post.id %>" method="POST" enctype="multipart/form-data">
                                    <button type="submit" style="float: left; margin-right: 10px;">
                                        Like
                                    </button>
                                </form>     -->
                                <!-- <form action="/users/buy/<%= post.id %>" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="">
                                        Buy
                                    </button>
                                </form> -->
                        </div>
                    </div>
                  
                </div>
            <% }) %>
	  		
	  		
	  	</div>
	  </section>
	  <script src="/public/js/like_handler.js">
	  </script>
</body>
</html>